{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <!-- body -->
   <body>
      <!-- contact -->
      <div class="contact">
         <div class="container text-center">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Change Password</h2>
                     {% if msg %}
                        <h1><span class="yello">{{msg}}</span></h1>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  
                  <form  method="post" action="{% url 'new_password' %}"> 
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="{{email}}" value="{{email}}" type="text" name="email" readonly>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="New Password" type="password" name="new_password">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="Conform New Password" type="password" name="cnew_password">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                           <button class="send">Change Password</button>
                        </div>
                     </div>
                  </form>
               </div>

            </div>
         </div>
      </div>
      
      <!-- end contact  -->
   </body>
</html>
{% endblock %}