{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <!-- body -->
   <body>
      <!-- contact -->
      <div class="contact">
         <div class="container text-center">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Sign Up</h2>
                     {% if msg %}
                        <h1><span class="yello">{{msg}}</span></h1>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  
                  <form  method="post" action="{% url 'signup' %}" enctype="multipart/form-data"> 
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="{{email}}" value="{{email}}" type="text" name="email" readonly>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <select name="usertype" class="form-control">
                               <option>---Select User Category---</option>
                               <option value="user">User</option>
                               <option value="designer">Designer</option>
                            </select>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="First Name" type="text" name="fname">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="Last Name" type="text" name="lname">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="Mobile Number" type="text" name="mobile">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                           <textarea class="textarea" placeholder="Address" type="text" name="address"></textarea>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="Password" type="password" name="password">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" placeholder="Conform Password" type="password" name="cpassword">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                           <input class="form-control" type="file" name="profile_pic">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                           <button class="send">Sign Up</button>
                        </div>
                     </div>
                  </form>
               </div>

            </div>
         </div>
      </div>
      
      <!-- end contact  -->
   </body>
</html>
{% endblock %}